Repository Harui-i/bitbankutil_rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-test

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system

cargo-test:
  name: cargo test test_public
  entry: cargo test test_public
  language: system
  pass_filenames: false

refactoring: implement response_handler and reuse it in each method
  src/bitbank_public.rs
  src/bitbank_structs.rs
Due: cargo-fmt, cargo-test

deleted all unnecessary
  src/bitbank_structs.rs
Due: cargo-fmt, cargo-test

refactoring: make a
  src/bitbank_private.rs
  src/bitbank_public.rs
  src/lib.rs
  src/response_handler.rs
Due: cargo-fmt, cargo-test

ignore .vscode
  .gitignore
Due: none

make it version 0.1.3
  Cargo.lock
  Cargo.toml
Due: cargo-test

implement default implementation for on_xxx methods in BotTrait
  examples/best_mm.rs
  examples/board_viewer.rs
  src/bitbank_bot.rs
Due: cargo-fmt, cargo-test

implement and bumped the version number to 0.1.4
  Cargo.lock
  Cargo.toml
  examples/board_viewer_multiple.rs
  src/bitbank_bot.rs
  src/bitbank_multiple_bot.rs
  src/lib.rs
Due: cargo-fmt, cargo-test

for codex
  AGENTS.md
  prompt.md
  ref_lib.md
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

codex commit
  README.md
  examples/best_mm.rs
  examples/board_viewer.rs
  examples/board_viewer_multiple.rs
  examples/nothing_bot.rs
  src/bitbank_bot.rs
  src/bitbank_multiple_bot.rs
  src/bitbank_structs.rs
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

replace all pattern into pattern
  examples/best_mm.rs
  examples/board_viewer.rs
  examples/board_viewer_multiple.rs
  examples/nothing_bot.rs
  src/bitbank_bot.rs
Due: cargo-fmt, cargo-test

delete
  examples/board_viewer_multiple.rs
  src/bitbank_multiple_bot.rs
  src/lib.rs
Due: cargo-fmt, cargo-test

delete todo comment
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

delete all
  examples/best_mm.rs
Due: cargo-fmt, cargo-test

Update examples/best_mm.rs
  examples/best_mm.rs
Due: cargo-fmt, cargo-test

refactoring `bitbank_bot.rs` (#10)
  AGENTS.md
  README.md
  examples/best_mm.rs
  examples/board_viewer.rs
  examples/board_viewer_multiple.rs
  examples/nothing_bot.rs
  prompt.md
  ref_lib.md
  src/bitbank_bot.rs
  src/bitbank_multiple_bot.rs
  src/bitbank_structs.rs
  src/lib.rs
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

delete AGENTS.md
  AGENTS.md
Due: none

bumped version number into
  Cargo.lock
  Cargo.toml
Due: cargo-test

delete unneeded files
  prompt.md
  ref_lib.md
Due: none

codex
  AGENTS.md
  Cargo.lock
  Cargo.toml
  bitbank_exec_book_xrp_jpy_v2_20251014.txt
  codex-report.md
  examples/best_mm.rs
  examples/best_mm_backtest.rs
  prompt.md
  src/backtest/mod.rs
  src/bitbank_private.rs
  src/lib.rs
  src/order_manager.rs
  src/strategies/best_mm.rs
  src/strategies/mod.rs
  src/trading_api.rs
Due: cargo-fmt, cargo-test

コメントを丁寧語から常体に変換 (#12)
  examples/best_mm.rs
  examples/board_viewer.rs
  examples/board_viewer_multiple.rs
  examples/nothing_bot.rs
  src/bitbank_bot.rs
  src/bitbank_private.rs
  src/bitbank_structs.rs
  src/lib.rs
  src/order_manager.rs
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

docs: コメントとREADMEを日本語に翻訳 (#11)
  README.md
  examples/best_mm.rs
  examples/board_viewer.rs
  examples/board_viewer_multiple.rs
  examples/nothing_bot.rs
  src/bitbank_bot.rs
  src/bitbank_private.rs
  src/bitbank_structs.rs
  src/lib.rs
  src/order_manager.rs
  src/response_handler.rs
  src/websocket_handler.rs
Due: cargo-fmt, cargo-test

Handle offline public API tests
  Cargo.lock
  Cargo.toml
  src/bitbank_private.rs
  src/bitbank_public.rs
  src/error.rs
  src/lib.rs
  src/order_manager.rs
  src/response_handler.rs
Due: cargo-fmt, cargo-test

Run cargo fmt
  src/bitbank_public.rs
Due: cargo-fmt, cargo-test

candlestickの実装
  Cargo.lock
  README.md
  src/bitbank_public.rs
  src/bitbank_structs.rs
Due: cargo-fmt, cargo-test

bump
  Cargo.lock
  Cargo.toml
Due: cargo-test

Feature/public candlestick (#14)
  Cargo.lock
  Cargo.toml
  README.md
  src/bitbank_public.rs
  src/bitbank_structs.rs
Due: cargo-fmt, cargo-test

clippy & cargo update & cargo fmt
  Cargo.lock
  src/bitbank_bot.rs
  src/bitbank_private.rs
  src/bitbank_public.rs
  src/bitbank_structs.rs
  src/lib.rs
  src/order_manager.rs
Due: cargo-fmt, cargo-test

bitbankのレスポンスで、情報を落とすことを許さないfeature flagを追加
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  src/bitbank_public.rs
  src/bitbank_structs.rs
  src/response_handler.rs
Due: cargo-fmt, cargo-test

docsの充実
  src/bitbank_structs.rs
Due: cargo-fmt, cargo-test

bumped version number into 0.1.7
  Cargo.lock
  Cargo.toml
Due: cargo-test

リファクタ計画
  refactor-plan.md
Due: none

ignore codex
  .gitignore
Due: none

refactor: add order domain types
  examples/best_mm.rs
  refactor-plan.md
  src/lib.rs
  src/order_domain.rs
  src/order_manager.rs
Due: cargo-fmt, cargo-test

Accept losscut order type
  src/bitbank_structs.rs
  src/order_domain.rs
Due: cargo-fmt, cargo-test

Match orders with missing post_only
  src/order_domain.rs
  src/order_manager.rs
Due: cargo-fmt, cargo-test

Rename desired order to desired limit order
  examples/best_mm.rs
  refactor-plan.md
  src/order_domain.rs
  src/order_manager.rs
Due: cargo-fmt, cargo-test

Fix post_only validation for limit orders
  src/bitbank_private.rs
Due: cargo-fmt, cargo-test

Gate live API tests behind features
  Cargo.toml
  README.md
  src/bitbank_private.rs
  src/bitbank_public.rs
  tests/live_private_api.rs
  tests/live_private_order_api.rs
  tests/live_public_api.rs
Due: cargo-fmt, cargo-test

Add tests for concurrent order planning
  src/order_manager.rs
Due: cargo-fmt, cargo-test

fmt
  src/order_manager.rs
Due: cargo-fmt, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (\.rs$|^Cargo\.(toml|lock)$)
